<form [formGroup]="fg" (ngSubmit)="onSubmit()" class="form">
  <div class="form__controls">
    <div class="form__controls-name">
      <div class="form__controls-name--f_name">
        <label for="f_name">First Name</label>
        <input
          type="text"
          id="f_name"
          formControlName="first_name"
          class=""
          pInputText
        />
        <invalid-message
          [message]="REQUIRED_MESSAGE"
          *ngIf="
            fg.controls.first_name.touched &&
            fg.controls.first_name.errors?.required
          "
        ></invalid-message>
      </div>
      <div class="form__controls-name--l_name">
        <label for="l_name">Last Name</label>
        <input
          type="text"
          id="l_name"
          formControlName="last_name"
          class=""
          pInputText
        />
        <invalid-message
          [message]="REQUIRED_MESSAGE"
          *ngIf="
            fg.controls.last_name.touched &&
            fg.controls.last_name.errors?.required
          "
        ></invalid-message>
      </div>
    </div>
    <div class="form__controls-email">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class=""
        pInputText
      />
      <invalid-message
        [message]="REQUIRED_MESSAGE"
        *ngIf="fg.controls.email.touched && fg.controls.email.errors?.required"
      ></invalid-message>
      <invalid-message
        [message]="INVALID_EMAIL"
        *ngIf="fg.controls.email.touched && fg.controls.email.errors?.email"
      ></invalid-message>
    </div>

    <label for="avatar">Avatar</label>
    <input
      type="text"
      id="avatar"
      formControlName="avatar"
      placeholder="Paste a link"
      class=""
      pInputText
    />
    <invalid-message
      [message]="REQUIRED_MESSAGE"
      *ngIf="fg.controls.avatar.touched && fg.controls.avatar.errors?.required"
    ></invalid-message>
  </div>

  <button type="submit" class="button good">Save</button>
</form>
