.contact {
  &-list {
    //border: 1px solid grey;
    margin-top: 100px;

    border-radius: 5px;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__card {
    background-color: white;
    width: 400px;
    height: 110px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px 7.5px;
    box-shadow: 1px 3px 6px grey;

    &-content {
      margin: 5px 7.5px;
      width: 164.51px;
    }
  }

  &__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    //bottom: -10px;
  }

  &__title {
    //background-color: beige;
    font-weight: 600;
    font-size: 20px;
    width: 151.557px;
    //word-wrap: break-word;
  }

  &__title,
  &__email {
    margin: 15px 0px;
  }

  &__email {
    //background-color: burlywood;
  }

  &__createdOn {
    //background-color: bisque;
    text-align: initial;
    position: relative;
    bottom: 20px;
    color: gray;
  }
}

.flex-mode {
  &-num {
    width: 50%;
    text-align: right;
  }

  &-btn {
    width: 50%;
    height: 40px;
    //background-color: #4287f5;
    margin: 15px;
    display: flex;
    justify-content: right;
  }
}

.card__list {
  display: flex;
  flex-direction: column;
  background-color: darken(skyblue, 20);
  padding: 20px 30px;
  gap: 10px;
}
