<div class="contact-list">
  <div class="card__list" *ngIf="contacts_list?.length; else showLoader">
    <button pButton label="Add Contact" (click)="addContact()"></button>
    <div class="filters" style="width: 100%; height: 50px">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-filter"
        class="p-button-rounded p-button-text p-button-plain"
        (click)="op.toggle($event)"
        style="color:black"
      ></button>
    </div>
    <div
      class="contact__card"
      *ngFor="let contact of contacts_list; index as i"
      
    >
      <ng-container >
        <img [src]="contact?.avatar" alt="" class="contact__image" />
        <div class="contact__card-content">
          <div class="contact__title">
            <div style="display: inline" class="contact__title-fName">
              {{ contact?.first_name }}
            </div>
            <div style="display: inline" class="contact__title-lName">
              {{ contact?.last_name }}
            </div>
          </div>

          <div class="contact__email">{{ contact?.email }}</div>
        </div>
        <div class="contact__createdOn">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="deleteContact(i)"
          ></button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="false">
  <ng-template pTemplate >
    <div class="buttons" style="display: flex; flex-direction: column" #currentFilter>
      <button
        pButton
        type="button"
        icon="pi pi-sort-alpha-up"
        class="p-button-text p-button-plain"
        style="height: 20px; font-size: 15px"
        (click)="op.hide(); sortByAZ(); "

      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-sort-alpha-down"
        class="p-button-text p-button-plain"
        style="height: 20px; font-size: 15px"
        (click)="op.hide(); sortByZA()"
      ></button>
    </div>
  </ng-template>
</p-overlayPanel>

<ng-template #showLoader>
  <show-loader></show-loader>
</ng-template>

